:root {
	font-family: 'Manrope', sans-serif;
    font-size: 30px;
    --interact: #FEDB7A;
    --infoGreen: #73bfbb;
    --coolGreen: rgb(127, 241, 127);
}
body{
    margin: 0;
    margin-left: 10vw;
}


#logoContainer{
    margin-top: 12.8vh;
}
#logo{
    width: auto;
    height: 50px;
}
#tagline{
    color: #45666B;
    margin-top: 40px;
    font-size: 78px;
    line-height: 80px;
    margin-bottom: 50px;
    margin-right: 50px;
}
.gradient {
    color: transparent;
    background: linear-gradient(to left,var(--infoGreen),var(--interact),var(--interact),var(--infoGreen));
    background-size: 1000px 100%;
    animation: bg 30s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
}


#buttonContainer{
    width: 30%;
    margin-bottom: 100px;
    /* display: flex */
}
#tryVaruna{
    display: flex;
    align-items: center;
    /* justify-content: center; */

    color: #45666B;
    font-weight: 700;
    
    width: 100%;
    height: 60px;
    background-color: var(--interact)
}
#tryVaruna:hover{
    cursor: pointer;
}
#tryVarunaText{
    width: auto;
    height: auto;
}


#featureList{
    /* width: 100%; */
    /* display: flex; */
    /* margin-bottom: 50px; */
}
.ft{
    display: block;
    margin-right: 2.6vw;
    background-color: #f8f8f8;
    border-radius: 7px;
    width: 100%;
    /* height: 425px; */
}
#imgIllus{
    /* margin-top: 50px; */
    display: flex;
    /* align-content: center;
    justify-content: center; */
}
#imgText{
    color: #45666B;
    /* text-align: center; */
}
#description {
    margin-top: 100px;
    width: 100%;
    color: #45666B;
    margin-bottom: 50px;
}
.line{
    display: flex;
    margin-bottom: 30px;
}

#privacy, #scheduling, #user{
    width:45%;
}
#privacy{
    margin-left: 5%;
}
a {
    color: var(--infoGreen);
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
a:hover{
    color: var(--interact);
}
#description_title{
    /* font-size: 40px; */
    font-weight: 700;
    margin-bottom: 7px;
}
#description_text{
    font-size: 25px;
    
}

#emailLink{
    margin-top: 100px;
    color: #45666B;
    font-weight: 500;
    font-size: 78px;
    line-height: 80px;

    width: 70%;
    padding-bottom: 15px;
    border-bottom: 7px solid var(--interact);
    margin-bottom: 100px;

}
#emailLink:hover{
    color: var(--infoGreen);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

/* large */
@media only screen and (min-width: 900px) {
    #buttonContainer{
        display: flex;
    }
    #tryVarunaText{
        margin-left: 5%;
    }

    #featureList{
        display: flex;
        width: 100%;
    }
    .ft{
        height: 425px;
    }
    #imgIllus{
        margin-top: 50px;
        align-content: center;
        justify-content: center;
    }
    #imgText{
        text-align: center;
    }
}

/* small */
@media only screen and (max-width: 899px) {
    .line{
        display: block;
    }
    #privacy, #scheduling, #user{
        width:95%;
    }
    #privacy{
        margin-left: 0px;
        margin-top: 30px;
    }
    #buttonContainer{
        display: block;
        width: 70vw;
        margin-bottom: 75px;
    }
    #tryVarunaText{
        margin-left: 2%;
    }
    #featureList{
        display: block;
        /* width: 50%; */
        height: auto;
    }
    .ft{
        height: 375px;
        background-color: #fff;
    }
    img#lockIllus {
        margin-top: 0px;
    }
    #imgIllus{
        margin-left: 10px;
        align-content: left;
        justify-content: left;
    }
    #imgText{
        margin-left: 10px;
        text-align: left;
        margin-top: -25px;
        width: 75vw;
    }
    #description{
        /* margin-top: 75px; */
        width: 95%;
    }
}

/* smaller */
@media only screen and (max-width: 642px){
    #tagline{
        font-size: 50px;
        line-height: 55px;
    }
    #emailLink{
        font-size: 50px;
        line-height: 55px;
    }
}