:root {
	font-family: 'Manrope', sans-serif;
    font-size: 30px;
    --interact: #FEDB7A;
    --infoGreen: #73bfbb;
    --coolGreen: rgb(127, 241, 127);
}
body{
    margin: 0;
    margin-left: 10vw;
}


#logoContainer{
    margin-top: 12.8vh;
}
#logo{
    width: auto;
    height: 50px;
}
#tagline{
    color: #45666B;
    margin-top: 40px;
    font-size: 78px;
    line-height: 80px;
    margin-bottom: 50px;
    margin-right: 50px;
}
.gradient {
    color: transparent;
    background: linear-gradient(to left,var(--infoGreen),var(--interact),var(--interact),var(--infoGreen));
    background-size: 1000px 100%;
    animation: bg 30s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
}


#buttonContainer{
    width: 64%;
    margin-bottom: 50px;
    /* display: flex */
}
#docIndexText{
    /* margin-top: 2%; */
    margin-left: 20px;
}
#tryVarunaText{
    /* margin-top: 2%; */
    margin-left: 20px;
}
#docIndex{
    display: block;
    align-items: center;
    justify-content: center;
    margin-right: 2.6vw;

    color: #45666B;
    font-weight: 700;
    
    width: 100%;
    height: 60px;
    background-color: var(--interact);
}
#tryVaruna{
    display: block;
    align-items: center;
    justify-content: center;

    color: #45666B;
    font-weight: 700;
    
    width: 100%;
    height: 60px;
    background-color: var(--interact)
}


#featureList{
    /* width: 100%; */
    /* display: flex; */
    margin-bottom: 50px;
}
.ft{
    display: block;
    margin-right: 2.6vw;
    background-color: #73bfbb1f;
    width: 100%;
    /* height: 425px; */
}
#imgIllus{
    /* margin-top: 50px; */
    display: flex;
    /* align-content: center;
    justify-content: center; */
}
#imgText{
    color: #45666B;
    /* text-align: center; */
}


#emailLink{
    color: #45666B;
    font-weight: 500;
    font-size: 78px;
    line-height: 80px;

    width: 70%;
    padding-bottom: 15px;
    border-bottom: 7px solid var(--interact);
    margin-bottom: 100px;

    transition: 0.3s ease-in-out;
}
#emailLink:hover{
    color: var(--infoGreen);
    transition: 0.2s ease-in-out;
}

/* large */
@media only screen and (min-width: 900px) {
    #buttonContainer{
        display: flex;
    }
    #docIndexText{
        margin-top: 2%;
    }
    #tryVarunaText{
        margin-top: 2%;
    }

    #featureList{
        display: flex;
        width: 100%;
    }
    .ft{
        height: 425px;
    }
    #imgIllus{
        margin-top: 50px;
        align-content: center;
        justify-content: center;
    }
    #imgText{
        text-align: center;
    }
}

/* small */
@media only screen and (max-width: 899px) {
    #buttonContainer{
        display: block;
    }
    #docIndexText{
        margin-top: 4%;
        padding-top: 2%;
    }
    #tryVarunaText{
        margin-top: 4%;
        padding-top: 2%;
    }

    #featureList{
        display: block;
        width: 90%;
        height: auto;
    }
    .ft{
        height: 375px;
    }
    img#lockIllus {
        margin-top: 50px;
    }
    #imgIllus{
        margin-left: 50px;
        align-content: left;
        justify-content: left;
    }
    #imgText{
        margin-left: 50px;
        text-align: left;
    }
}

/* smaller */
@media only screen and (max-width: 642px){
    #tagline{
        font-size: 50px;
        line-height: 55px;
    }
    #emailLink{
        font-size: 50px;
        line-height: 55px;
    }
}